PORT=5000
MONGODB_URI=mongodb+srv://ryan137lau_db_user:transportesMoquegua@cluster0.nxm3omn.mongodb.net/?appName=Cluster0
JWT_SECRET=tu_clave_secreta_super_segura_cambiala_en_produccion
JWT_EXPIRE=7d
